.BuildControl {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #888888;;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #C7C6C6;
    border: 1px solid #888888;;
    color: #888888;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #C7C6C6;
    color: #888888;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #545863;
    color: #e74e21;
}

.BuildControl .More {
    background-color: #323641;
    color: #e74e21;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #e74e21;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #e74e21;
    color: white;
}